---
layout: default
---

<div class="home">

  <h1 class="page-heading">Hello! How are you doing? Click "Say hello!" above to respond.</h1>

  <div class="home-options">

    <section class="home-projects">
      <h2 class="home-projects-header">Recent Projects</h2>
      {% for project in site.projects limit:2 %}
      <h1 class="home-project-title"><a href="{{ project.url }}">{{ project.title }}</a></h1>
     <!-- <p class="home-project-subtitle">{{ project.excerpt }}</p> -->
    {% endfor %}
    </section>

    <section class="home-writing">
      <h2 class="home-writing-header">Recent Writing</h2>
    {% for writing in site.writing limit:2 %}
     <h1 class="home-writing-title"><a href="{{ writing.url }}">{{ writing.title }}</a></h1>
     <!-- <p class="home-writing-subtitle">{{ writing.subtitle }}</p> -->
    {% endfor %}
    </section>

  </div>

</div>
