<header class="site-header">

<nav class="site-nav">
	
	<a href="/" class="logo">

	<div class="peter-block">
		<p class="peter-name">Peter Cutler</p>
		<p class="peter-title">Interactive Design and Development</p>
	</div>

	</a>

	<div class="separator"></div>

	<ul class="nav-list">

		<li><a href="/projects">Projects</a></li>
		<li><a href="/writing">Writing</a></li>
		<li><a href="http://twitter.com/petergcutler">Twitter</a></li>
		<li><a href="mailto:peter(gee)cutler@(gee)mail.com">Say Hello!</a></li>

	</ul>

</nav>

<hr>

</header>