<header class="site-header">

<nav class="site-nav">

	<a href="/" class="peter-name">Peter Cutler</a>

	<ul class="nav-block">
		<li><a class="nav-projects" href="/projects">Projects</a></li>
		<li><a class="nav-writing" href="/writing">Writing</a></li>
		<li><a class="nav-twitter" href="http://twitter.com/petergcutler" target="_blank">Twitter</a></li>
		<li><a class="nav-hello" href="mailto:petergcutler at gmail dot com" target="_blank">Say Hello!</a></li>
	</ul>

</nav>

</header>

<hr class="header-border">
