/* -----------------------------------*/
/* ---           BASICS            ---*/
/* -----------------------------------*/

$base-font-family: 'Roboto', sans-serif;
$base-font-size: 1em;
$base-font-weight: 300;
$brand-color: #3eb286;

body {
  font-family: $base-font-family;
  font-size:  $base-font-size;
  font-weight: $base-font-weight;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        // color: darken($brand-color, 15%);
    }

    &:hover {
        color: $brand-color;
        text-decoration: underline;
    }
}

/* -----------------------------------*/
/* ---           HEADER            ---*/
/* -----------------------------------*/

.site-nav {
  display: flex;
  padding: 2.4em 4em;
  max-width: 75em;
  margin: 0 auto;
}

.peter-name {
  font-size: 2.4em;
  letter-spacing: .1em;
  text-decoration: none;
  white-space: nowrap;
  color: #3eb286;
  transition: color 400ms ease;
}

.peter-name:hover{
  color: #3eb286;
  text-decoration: none;
}

.nav-block {
  font-weight: 500;
  font-size: 1.1em;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: .5em;
}

.nav-block a {
  padding: .8em;
  margin: 0 1.2em;
  color: #999;
  text-decoration: none;
  transition: color 400ms ease;
}

.nav-block li:last-child a {
  // color: #3eb286;
  white-space: nowrap;
}

.nav-block a:hover {
  color: #3eb286;
}

.header-border {
  border: 2px solid #ecf0f1;
  padding: 0;
  margin: 0 auto;
}



/* -----------------------------------*/
/* ---            HOME             ---*/
/* -----------------------------------*/

.page-content {
  max-width: 75em;
  margin: 0 auto;
  padding: 1em 4em;
}


.home {
  margin-top: 1em;
  display: flex;
  > * {
    flex: 0 0 50%;
  }
}


.page-heading {
  font-size: 2em;
  font-weight: 300;
  color: #999;
  margin: 1em 0;
  margin-bottom: 2em;
  line-height: 1.4em;
}


.heading {
  color: #999;
  font-weight: 500;
  margin-bottom: 1em;
}


.title {
  text-decoration: none;
  font-size: 1.6em;
  margin: 0 0 1em 0;
  width: 13em;
  line-height: 1.4em;
  white-space: normal;
}


/* -----------------------------------*/
/* ---          SUB PAGES          ---*/
/* -----------------------------------*/

.projects {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-family: 'roboto';
  font-size: 1.5em;
  color: #999;
}

.project-title a {
  color: #fff;
  font-weight: 500;
  position: absolute;
  font-size: .8em;
  width: 16em;
  padding: .4em;
  line-height: 1.4em;
  background-color: #3eb286;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform: translate(-1em, 1em);
}

.projects-list {
  flex-direction: row;
  flex: 0 0 50%;
}

.projects-list:nth-child(2n + 0) {
  padding: 2em 0 0 1em;
}

.projects-list:nth-child(2n + 1) {
  padding: 2em 1em 0 0;
}

img {
  max-width: 100%;
  height: auto;
}

.projects img {
  display: block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
              0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 400ms ease;
}

.projects img:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.23);
}

.post-title {
  font-weight: 500;
  font-size: 2em;
  color: $brand-color;
  margin: 1em 0;
}

.writing h1 {
  margin-top: 1em;
}

.writing a {
  font-size: 1.5em;
}

.writing p {
  margin-top: .6em;
  margin-bottom: 2em;
}


.typography {
  font-size: 1.4em;
  max-width: 30em;
  line-height: 1.6em;

}

.icon {
  color: #3eb286;
  cursor: pointer;
  display: none;
  font-size: 1.5em;
}

.showitems {
  display: inline-block !important;
}


/* -----------------------------------*/
/* ---        MEDIA QUERIES        ---*/
/* -----------------------------------*/


@media (max-width: 58em) {

  .site-nav {
    flex-flow: column;
  }

  .nav-block {
    flex-direction: row;
    // justify-content: flex-start;
  }

  .nav-block a {
    padding: 1em;
    margin: 0;
  }

  .nav-block li {
    padding: 1em 1em 0 1em;
    margin: 0;
  }

  .home-hero{
    height: 23em;
  }

  .home {
    display: flex;
    flex-flow: column;
    > * {
      flex: 0 0 100%;
    }
  }

  .home section{
    margin-bottom: 2em;
  }

  .projects-list:nth-child(n){
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1em 0;
    min-width: 15em;
  }

}

@media (max-width: 40em) {

  .site-nav {
    display: flex;
    padding: 2em 1em;
    max-width: 75em;
  }

  .nav-block {
    flex-direction: column;
  }

  .nav-block a {
    padding: 0;
    margin: 0;
  }

  .icon {
    display: inline;
    position: absolute;
    transform: translate(.88em, .3em);
  }

  .peter-name a {
    display: inline;
  }

  .nav-block {
    display: none;
  }

  .nav-block li {
    padding: .4em 0;
    margin: 0;
  }

  .home-hero{
    height: 0;
  }

  .page-content {
    padding: 1em;
  }

  .page-heading {
    font-size: 1.4em;
  }
}
