/* -----------------------------------*/
/* ---           BASICS            ---*/
/* -----------------------------------*/

$base-font-family: 'Roboto', sans-serif;
$base-font-size: 1em;
$base-font-weight: 300;
$brand-color: #3eb286;

body {
  font-family: $base-font-family;
  font-size:  $base-font-size;
  font-weight: $base-font-weight;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        // color: darken($brand-color, 15%);
    }

    &:hover {
        color: $brand-color;
        text-decoration: underline;
    }
}

/* -----------------------------------*/
/* ---           HEADER            ---*/
/* -----------------------------------*/

.site-nav {
  display: flex;
  padding: 2.4em 4em;
  max-width: 80em;
  margin: 0 auto;
}

.peter-name {
  font-size: 2.4em;
  letter-spacing: .1em;
  text-decoration: none;
  white-space: nowrap;
  color: #3eb286;
  transition: color 400ms ease;
}

.peter-name:hover{
  color: #3eb286;
  text-decoration: none;
}

.nav-block {
  font-weight: 500;
  font-size: 1.1em;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: .5em;
}

.nav-block a {
  padding: .8em;
  margin: 0 1.2em;
  color: #666;
  text-decoration: none;
  transition: color 400ms ease;
}

.nav-block li:last-child a {
  // color: #3eb286;
  white-space: nowrap;
}

.nav-block a:hover {
  color: #3eb286;
}

.header-border {
  border: 2px solid #ecf0f1;
  padding: 0;
  margin: 0;
}



/* -----------------------------------*/
/* ---            HOME             ---*/
/* -----------------------------------*/

.home {
  padding: 1em 4em;
  margin: 0 auto;
}


.home-options {
  display: flex;
  > * {
    flex: 0 0 50%;
  }
}

.page-heading {
  font-size: 2em;
  font-weight: 300;
  color: #999;
  margin: 1em 0;
  margin-bottom: 2em;
  line-height: 1.4em;
}

.home-projects-header {
  color: #999;
  font-weight: 500;
  margin-bottom: 1em;
}

.home-writing-header {
  color: #999;
  font-weight: 500;
  margin-bottom: 1em;
}

.home-project-title {
  text-decoration: none;
  font-size: 1.6em;
  margin: 0 0 1em 0;
  width: 13em;
  line-height: 1.4em;
  white-space: normal;
}

.home-writing-title {
  text-decoration: none;
  font-size: 1.6em;
  margin: 0 0 1em 0;
}

// .home-writing-subtitle {
//   text-decoration: none;
//   color: #999;
// }

/* -----------------------------------*/
/* ---          SUB PAGES          ---*/
/* -----------------------------------*/

.projects {
  display: flex;
  font-decoration: none;
  font-family: 'roboto';
  font-size: 16px;
  color: #666;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.projects img {
  display: block;
  border: 1px solid red;
}


/* -----------------------------------*/
/* ---        MEDIA QUERIES        ---*/
/* -----------------------------------*/


@media (max-width: 58em) {

  .site-nav {
    flex-flow: column;
  }

  .nav-block {
    flex-direction: row;
    // justify-content: flex-start;
  }

  .nav-block a {
    padding: 1em;
    margin: 0;
  }

  .nav-block li {
    padding: 1em 1em 0 1em;
    margin: 0;
  }

  .home-options {
    display: flex;
    flex-flow: column;
    > * {
      flex: 0 0 100%;
    }
  }

  .home-options section{
    margin-bottom: 2em;
  }

}

@media (max-width: 40em) {
  .nav-block {
    flex-direction: column;
  }

  .page-heading {
    font-size: 1.4em;
  }
}
