---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <section class="basic-info">

    <h1 class="project-name"><{{ page.title}}></h1>

    <ul class="project-links">

      <li class="site-item">
        <p class="heading">Project URL</p>
        <h1 class="title"><a href="{{ page.proj-url }}" class="site-url">{{ page.proj-url }}</a></h1>
      </li>

      <li class="github-item">
        <p class="heading">Github URL</p>
        <h1 class="title"><a href="{{ page.github }}" class="github-url">{{ page.github }}</a></h1>
      </li>

    </ul>

  </section>

  <article class="post-content">
    {{ content }}
  </article>

</div>
